body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */

.header {
    background-color: #1F2937;
    padding: 5px 150px;
    margin: 0;
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    flex-shrink: 0;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0px;
    flex-shrink: 0;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

/* Section 1 */

.section1 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 150px 75px;
    gap: 30px;
}

.section1 img {
    width: 400px;
    height: 250px;
    background-color: grey;
    flex: 0 0 auto;
}

.section1-left h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.section1-left p {
    color: #E5E7EB;
    margin: 10px 0 10px;
    max-width: 700px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    width: 100px;
    height: 30px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section 2 */

.section2 {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    padding: 75px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 h1 {
    font-size: 30px;
    font-weight: extra-bold;
    color: #1F2937;
}

.blue-box {
    border-radius: 10px;
    border: 3px solid #3882F6;
    height: 125px;
    width: 125px;
}

.blue-boxes {
    display: flex;
    gap: 5px;
}

.blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue p {
    text-align: center;
    max-width: 200px;
}

/* Section 3 */

.section3 {
    background-color: #E5E7EB;
}

.quote {
    max-width: 700px;
    margin: 50px auto 50px;
    display: flex;
    flex-direction: column;
}

.quote .quote-text {
    font-family: 'Muli', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 25px auto 0;
}

.quote p {
    margin-left: auto;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
}

/* Section 4 */

.section4 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad {
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 80px;
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.ad-left h3 {
    font-size: 24px;
    margin: 0;
}

.ad-left p {
    margin: 0;
}

.ad button {
    background-color: #F9FAF8;
    color: #3882F6;
}

/* Footer */

.footer {
    padding: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}